<h1 ng-hide="modoEditar" >Alta de Expediente</h1>
<h1 ng-show="modoEditar" >Edición de Expediente</h1>
<form novalidate name="formularioExpediente" ng-hide="operacionExitosa">
  <div class="form-group">
    <label for="nroExpediente">Nro Expediente</label>
    <input type="number" class="form-control" name="nroExpediente" id="nroExpediente" placeholder="numero" ng-model="expediente.nroExpediente" ng-required="true">
  </div>
  <div class="form-group">
    <label for="caratula">Caratula</label>
    <input type="text" class="form-control" name="caratula" id="caratula" placeholder="caratula" ng-model="expediente.caratula" ng-required="true">
  </div>
  <div class="form-group">
    <label for="fecha">Fecha</label>
    <input type="date" class="form-control" name="fecha" id="fecha" placeholder="fecha" ng-model="expediente.fecha" ng-required="true">
  </div>
  <div class="form-group">
    <label for="tema">Tema</label>
    <input type="text" class="form-control" name="tema" id="tema" placeholder="tema" ng-model="expediente.tema" ng-required="true">
  </div>
  <div class="form-group">
    <label for="iniciador">Iniciador</label>
    <input type="text" class="form-control" name="iniciador" id="iniciador" placeholder=" iniciadro " ng-model="expediente.iniciador" ng-required="true">  
  </div>
  <button type="button" ng-hide="modoEditar" ng-disabled="formularioExpediente.$invalid" class="btn btn-primary btn-lg active" ng-click="crear()">Crear</button>
  <button type="button" ng-show="modoEditar" ng-disabled="formularioExpediente.$invalid" ng-click="actualizar()"  class="btn btn-default btn-lg active">Editar</button>
  <button type="button" ng-show="modoEditar" ng-disabled="formularioExpediente.$invalid" ng-click="borrar()" class="btn btn-default btn-lg active">Borrar</button>  
  <button type="button" ng-click="cancelar()" class="btn btn-default btn-lg active">Cancelar</button>

</form>
<div class="alert alert-success" ng-show="operacionExitosa" role="alert">Expediente número {{expediente.nroExpediente}} Operación ejecutada satisfactoriamente</div>
<div class="alert alert-success" ng-show="operacionError" role="alert">Expediente número {{expediente.nroExpediente}} Error al ejecutar la operación</div>
