<form novalidate name="formularioExpediente">
  <div class="form-group">
    <label for="nroExpediente">Nro Expediente</label>
    <input type="text" class="form-control" name="nroExpediente" id="nroExpediente" placeholder="numero" ng-model="expediente.nroExpediente" ng-required="true">
  </div>
  <div class="form-group">
    <label for="caratula">Caratula</label>
    <input type="text" class="form-control" name="caratula" id="caratula" placeholder="caratula" ng-model="expediente.caratula" ng-required="true">
  </div>
  <div class="form-group">
    <label for="tema">Tema</label>
    <input type="text" class="form-control" name="tema" id="tema" placeholder="tema" ng-model="expediente.tema" ng-required="true">
  </div>
  <div class="form-group">
    <label for="iniciador">Iniciador</label>
    <input type="text" class="form-control" name="iniciador" id="iniciador" placeholder=" iniciadro " ng-model="expediente.iniciador" ng-required="true">  
  </div>
  <button type="btuton" class="btn btn-default" ng-click="crear()">Crear</button>
</form>